### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [93]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [94]:
total_players = (purchase_data["SN"].nunique())

total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data_unique = pd.DataFrame(purchase_data["Item Name"].unique())

unique_purchases = purchase_data_unique.count()

purchase_sum = purchase_data["Price"].sum()

avg_price = purchase_sum/(purchase_data["Price"].count())

purchase_total = purchase_data["Item Name"].count()

total_revenue = purchase_data["Price"].sum()

purchase_analysis_df = pd.DataFrame({"Unique Items Purchased": unique_purchases,
                                    "Average Price of Items Sold": avg_price,
                                    "Total Purchases": purchase_total,
                                    "Total Revenue": total_revenue})

purchase_analysis_df["Average Price of Items Sold"] = purchase_analysis_df["Average Price of Items Sold"].map("${:.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:.2f}".format)

purchase_analysis_df

,Unique Items Purchased,Average Price of Items Sold,Total Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
male_data = purchase_data.loc[(purchase_data["Gender"] == "Male")]
male_players = male_data["SN"].nunique()
male_percent = round(((male_players/total_players)*100),2)

female_data = purchase_data.loc[(purchase_data["Gender"] == "Female")]
female_players = female_data["SN"].nunique()
female_percent = round(((female_players/total_players)*100),2)

other_players = (total_players - male_players) - female_players

other_percent = round(((other_players/total_players)*100),2)

In [5]:
gender_demographics = pd.DataFrame({"Gender": ["Male","Female","Other/Non-Disclosed"],
                                    "Total Count": [male_players, female_players, other_players],
                                   "Percentage of Players": [male_percent, female_percent, other_percent]})

gender_demographics = gender_demographics.set_index("Gender")

gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2f}%".format)

gender_demographics

                     Total Count Percentage of Players
Gender
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
male_data = purchase_data.loc[(purchase_data["Gender"] == "Male")]
female_data = purchase_data.loc[(purchase_data["Gender"] == "Female")]
other_data = purchase_data.loc[(purchase_data["Gender"] == "Other / Non-Disclosed")]

male_purchases = male_data["Item Name"].count()
female_purchases = female_data["Item Name"].count()
other_purchases = other_data["Item Name"].count()

male_revenue = male_data["Price"].sum()
female_revenue = female_data["Price"].sum()
other_revenue = other_data["Price"].sum()

male_avg_price_item = male_revenue/male_purchases
female_avg_price_item = female_revenue/male_purchases
other_avg_price_item = other_revenue/male_purchases

male_avg_price_person = male_revenue/male_players
female_avg_price_person = female_revenue/male_players
other_avg_price_person = other_revenue/male_players

In [26]:
gender_analysis = pd.DataFrame({"Gender": ["Male","Female","Other/Non-Disclosed"],
                                             "Total Purchases": [male_purchases, female_purchases, other_purchases],
                                             "Total Revenue": [male_revenue, female_revenue, other_revenue],
                                             "Average Price per Person": [male_avg_price_person, female_avg_price_person, 
                                                                          other_avg_price_person],
                                             "Average Price per Item": [male_avg_price_item, female_avg_price_item, 
                                                                          other_avg_price_item]
                                            })

gender_analysis = gender_analysis.set_index("Gender")

In [30]:
gender_analysis = gender_demographics_analysis[["Total Purchases","Total Revenue","Average Price per Item","Average Price per Person"]]

gender_analysis["Total Revenue"] = gender_analysis["Total Revenue"].map("${:.2f}".format)
gender_analysis["Average Price per Item"] = gender_analysis["Average Price per Item"].map("${:.2f}".format)
gender_analysis["Average Price per Person"] = gender_analysis["Average Price per Person"].map("${:.2f}".format)

gender_analysis

,Total Purchases,Total Revenue,Average Price per Item,Average Price per Person
Gender,,,,
Male,652,$1967.64,$3.02,$4.07
Female,113,$361.94,$0.56,$0.75
Other/Non-Disclosed,15,$50.19,$0.08,$0.10

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [71]:
ages_df = pd.DataFrame(purchase_data["Age"])

bins = [0,10,15,20,25,30,35,40,100]

group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40 +"]

ages_df["Age Range"] = pd.cut(ages_df["Age"], bins, labels=group_names, right=False)

ages_df = ages_df.groupby("Age Range")

count = ages_df["Age Range"].count()

percent = round(((count/total_players)*100),2)

In [83]:
age_analysis = pd.DataFrame({
                             "Total Count": count,
                             "Percentage of Players":percent
                            })
age_analysis["Percentage of Players"] = age_analysis["Percentage of Players"].map("{:.2f}%".format)
age_analysis



male_data = purchase_data.loc[(purchase_data["Gender"] == "Male")]
male_players = male_data["SN"].nunique()
male_percent = round(((male_players/total_players)*100),2)

           Total Count Percentage of Players
Age Range
<10                 23                 3.99%
10-14               28                 4.86%
15-19              136                23.61%
20-24              365                63.37%
25-29              101                17.53%
30-34               73                12.67%
35-39               41                 7.12%
40 +                13                 2.26%

In [84]:
count.sum()

780

In [66]:
age_analysis["Percentage of Players"] = age_analysis["Percentage of Players"].map("{:.2f}%".format)

TypeError: unsupported format string passed to Series.__format__

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame