In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
csv_file= "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:
# Read with pandas--low_memory required to suppress errors about mixed data types
df = pd.read_csv(csv_file, low_memory=False)

In [27]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
reduced_df = df.iloc[:,[0,1,2,3,4,6,7,8,9,10,11,29,30,32,36,37,45,48,56,110,111]]

In [25]:
# Change reading 0 and 1 to No and Yes, respectively
reduced_df = reduced_df.replace({0.0: "No", 1.0: "Yes"})

In [24]:
# Extract rows for only those who attended a bootcamp
attendees = reduced_df.loc[reduced_df["AttendedBootcamp"]=="Yes"]

In [28]:
# Create DataFrame of the different boot camps that had a significant number of attendees
bootcamp_name = pd.DataFrame(attendees["BootcampName"].value_counts())
bootcamp_name.head()

                       BootcampName
General Assembly                 90
Flatiron School                  54
Dev Bootcamp                     48
The Iron Yard                    40
Prime Digital Academy            30

In [17]:
# Count how many attendees of each bootcamp would recommend the bootcamp
recommend_bootcamp = attendees.replace({"Yes":1, "No":2})
recommend_bootcamp = pd.DataFrame(recommend_bootcamp.groupby("BootcampName")["BootcampRecommend"].sum())
recommend_bootcamp.reset_index(inplace=True)
recommend_bootcamp.head()

            BootcampName  BootcampRecommend
0             10x.org.il                7.0
1         4Geeks Academy               10.0
2               AcadGild                2.0
3     Academia de Código                4.0
4  Academic Work Academy                0.0

In [ ]:
# Merge the two created data frames on the name of tbe bootcamp

In [ ]:
# Calculate percentage of eac bootcamp's students who are recommenders

In [ ]:
# Export to excel and remove index